body {
  background-color: rgb(13, 14, 13);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}

.header-img {
  width: 100%;
  height: 150px;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/028/833/866/large/vigneshwaran-sivaraman-3-4k-fotor.jpg?1595646613);
  background-size: cover;
  border-bottom: #e8491d 9px solid;
  width: 2000px;
}

aside {
  margin-top: 16px;
}

ul {
  list-style: none;
}

.btn-warning {
  color: #000000;
  display: block;
  width: 100%;
  margin-top: 3px;
}

.imgcsgo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container-fluid {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 9px;
}

.table {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.col-md-3 {
  margin-bottom: 6px;
}

.text-center {
  color: #ffffff;
  margin-top: 6px;
}
.list-group {
  margin-top: 9px;
}
